*{
    box-sizing: border-box;
    direction: ltr;
}
@font-face { font-family: instagram; src: url('./font/Roboto-FontZillion/Fonts/roboto-medium.ttf'); }

div  { font-family: instagram; }
a{
    text-decoration: none;
}
body{
    font-size: 16px;
    margin: 0px;
}
.container{
    width: 100%;
    text-align: center;
}
.container .phone{
    background-color:#f7f7f7a2;
    margin: 0px auto;
     min-height: 100vh;
     width: 400px;
    
}

/* heaader-nav */
.head-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    padding: 5px;
    align-items: center;
}
.left{
    display: flex;
    justify-content: left;

}
.left img{
   margin: 0.2em 0.2em;
   width: 1.2em;
   height: 1.2em;
   border-radius: 5%;
   align-items: center;
   text-align: left;
}
.left span{
   font-size: 1.1em;
   text-align: left;
   align-items: center;

}
.right{
    display: flex;
    justify-content: right;
    margin: -1.6em 0.3em;
}
.right .sum{
    width: 1.4em;
    height: 1.4em;
    align-items: center;
    text-align: right;
    margin-top: 0.3em;
}
.right .muno{
    width: 1.8em;
    height: 1.8em;
    align-items: center;
    text-align: right;
    margin-top: 0em;
}
/* profile */
.profile .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 1em;
}
.profile .info .image img{
width: 6em;
height: 6em;
border-radius: 50%;
}
.profile .info .image .caption{
    display: flex;
    flex-direction: column;
    margin: 0.1em -1em;
}
.profile .info .image .caption span{
color: #333;
font-size: 1em;
text-align: left;
}
.profile .info .item{
display: flex;
flex-direction: column;
align-items: center;
margin-top:-2em ;
}
.profile .info .item .number{
    font-size: 1em;
    color: #333;
}
.profile .info .item .title{
    font-size: 1em;
    color: #333;
}
/* edit profile */

.box{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
}
.box a{
    display: inline-block;
    font-size: .8em;
    padding: 0.8em 3em;
    margin-left: 0px auto;
    background-color:#eeefee;
    color:#444;
    padding: 1em 3em;
    border-radius: 5px;
    margin: 0em auto;
    align-items: center;
}
.box img{
    padding: 0.6em ;
    background-color:#eeefee;
    color:#444;
    border-radius: 20%;
    width: 2.9em;
    height: 2.6em;
    margin: 0em auto;
}
.box span{
    position: absolute;
    right: 2.6em;
    font-size: 1em;
    color:#444;
}
/* story */
.highlight{
    display:inline-block;
    align-items:center;
    justify-content: space-between;
}
.highlight img{
    width: 3.6em;
    height: 3.6em;
    border: 1px solid #999;
    border-radius: 50%;
    margin: 0.5em;
}
.highlight p{
margin-top: 0.1em;
font-size: 0.8em;
}
/* tag*/
.navigation{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3ee;
}
.navigation div{
    flex: 1;
    text-align: center;
}
.navigation div img{
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 0.5em;
}
.navigation :active {
    border-bottom: 1px solid #333;
}
.nav-activ{
    border-bottom: 1px solid #333;  
}
/* post */


.post img{
    width: 130px;
    height: 160px;
    margin: 0px;
    
}
.post video{
    width: 130px;
    height: 160px;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    padding: 8px 20px;
    border-top: 1px solid #d3d3d3ee;
}
.footer img{
    width: 30px;
    height: 30px;
}
.footer .img{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
